PORT=5000
SUPABASE_URL=https://zohqnplgdmhlhalcjhdq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvaHFucGxnZG1obGhhbGNqaGRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyODY5MzMsImV4cCI6MjA4OTg2MjkzM30.nvXHHxmdOwU9xviyj2Nx70KNsd_p6swPwbhU1YlFZvc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvaHFucGxnZG1obGhhbGNqaGRxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI4NjkzMywiZXhwIjoyMDg5ODYyOTMzfQ.1eOj55hUUzst6WWWD9X_TuNYj1jf8z_Sasqiau5QyUU
FIREBASE_PROJECT_ID=zohqnplgdmhlhalcjhdq
